dist
node_modules
.turbo
.lildocs
/research
/roadmap
/website
*.py
patch_*.js
core/**/src/**/*.d.ts
core/**/src/**/*.d.ts.map
app/**/svg-icon-data.ts
app/locales/**/*.js
!core/daemon/src/worktrees/
!core/daemon/src/worktrees/**
